<div class="gridster" {{bindAttr style=view.gridStyle}}>
  <ul>
    {{#each controller}}
    <li {{bindAttr data-row="row"}}
        {{bindAttr data-col="col"}}
        {{bindAttr data-sizex="sizex"}}
        {{bindAttr data-sizey="sizey"}}
        class="gs_w">
      {{#with widgetView as wv}}
        {{view wv}}
      {{/with}}
    </li>
    {{/each}}
  </ul>
</div>
