{{#if title}}
<h1 class="title">{{title}}</h1>
{{/if}}

<i class="icon-money icon-background"></i>

{{#if content}}
<table>
  <tr>
    <th>Comp.</th>
    <th>A.V.</th>
    <th>% Chg.</th>
    <th>T.V.</th>
  </tr>
{{#each content}}
  <tr>
    <td>{{{this.symbol}}}</td>
    <td>{{{this.BidRealtime}}}</td>
    <td>{{{this.PercentChange}}}</td>
    <td>{{{this.MarketCapitalization}}}</td>
  </tr>
{{/each}}
</table>
{{/if}}

{{view Dashboard.LastUpdatedView}}
