{{#if title}}
<h1 class="title">{{title}}</h1>
{{/if}}

<i class="icon-money icon-background"></i>

{{#if content}}
<table>
  <tr>
    <th></th>
    <th>Price</th>
    <th>% Chg</th>
    <th>Mkt cap</th>
  </tr>
{{#each content}}
  <tr>
    <td>{{{this.symbol}}}</td>
    <td>{{{this.LastTradePriceOnly}}}</td>
    <td>{{{this.PercentChange}}}</td>
    <td>{{{this.MarketCapitalization}}}</td>
  </tr>
{{/each}}
</table>
{{/if}}

{{view Dashboard.LastUpdatedView}}
